//<Font>==========================================================================================
$fontFamily: "Georgia", sans-serif;
$fontSize: 10;
//</Font>==========================================================================================

//<Variables>=======================================================================================
$minWidth: 320;
$maxWidth: 1280;
//</Variables>=======================================================================================
