* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Georgia", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Georgia", sans-serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #98b98a;
}

main {
  width: 1020px;
  margin: auto;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.keyboard {
  position: absolute;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
  left: 0;
  bottom: -310px;
  width: 100%;
  padding: 10px;
  background: #585858;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: bottom 0.5s ease 0s;
  -o-transition: bottom 0.5s ease 0s;
  transition: bottom 0.5s ease 0s;
}

.keyboard__row {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-row-gap: 10px;
  height: 50px;
}

.keyboard__key {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 2rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.75) -1px -1px 2px, inset rgba(255, 255, 255, 0.9) 1px 1px 2px, rgba(0, 0, 0, 0.8) 1px 1px 2px -1px;
          box-shadow: inset rgba(0, 0, 0, 0.75) -1px -1px 2px, inset rgba(255, 255, 255, 0.9) 1px 1px 2px, rgba(0, 0, 0, 0.8) 1px 1px 2px -1px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.show-key {
  display: inline-block;
  padding: 0 20px;
  margin: 0 auto;
  line-height: 50px;
  position: relative;
  height: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  background: rgba(0, 65, 52, 0.7);
  text-align: center;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.75) -1px -1px 2px, inset rgba(255, 255, 255, 0.9) 1px 1px 2px, rgba(0, 0, 0, 0.8) 1px 1px 2px -1px;
          box-shadow: inset rgba(0, 0, 0, 0.75) -1px -1px 2px, inset rgba(255, 255, 255, 0.9) 1px 1px 2px, rgba(0, 0, 0, 0.8) 1px 1px 2px -1px;
}

.keyboard.show {
  bottom: 140px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.checked {
  position: absolute;
  top: 5px;
  right: 5px;
  background: grey;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.checked.show {
  background: #74c66a;
}

[data-fn="false"].active {
  -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.9), inset 0 0 20px 2em rgba(255, 255, 255, 0.2);
          box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.9), inset 0 0 20px 2em rgba(255, 255, 255, 0.2);
}

[data-fn="true"].active {
  -webkit-box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.9), inset 0 0 20px 2em rgba(255, 255, 255, 0);
          box-shadow: inset 0px 1px 2px 1px rgba(0, 0, 0, 0.9), inset 0 0 20px 2em rgba(255, 255, 255, 0);
}

[data-fn="false"].active .letter,
[data-fn="true"].active .letter {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  color: #52d124;
  -webkit-animation: increase 1s;
          animation: increase 1s;
}

@-webkit-keyframes increase {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes increase {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

[data-fn="true"] {
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.75) -1px -1px 2px, inset rgba(161, 160, 160, 0.9) 1px 1px 2px, rgba(0, 0, 0, 0.8) 1px 1px 2px -1px;
          box-shadow: inset rgba(0, 0, 0, 0.75) -1px -1px 2px, inset rgba(161, 160, 160, 0.9) 1px 1px 2px, rgba(0, 0, 0, 0.8) 1px 1px 2px -1px;
}

[data-fn="true"] > .letter {
  font-size: 16px;
}

[data-code="CapsLock"] {
  width: 86px;
  position: relative;
}

[data-code="ShiftLeft"] {
  width: 100px;
  position: relative;
}

[data-code="ShiftRight"] {
  width: 120px;
  position: relative;
}

[data-code="Enter"] {
  width: 100px;
}

[data-code="Tab"] {
  width: 76px;
}

[data-code="ControlLeft"] {
  width: 76px;
}

[data-code="ControlRight"] {
  width: 60px;
}

[data-code="Backspace"] {
  width: 115px;
}

[data-code="Space"] {
  width: 460px;
}

[data-code="AltLeft"],
[data-code="AltRight"] {
  width: 76px;
}

.active {
  background: #313131;
}

.d-none {
  display: none;
}

.letter {
  font-size: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  padding-bottom: 0.7rem;
}

.subtitle,
.hint {
  color: #666;
}

textarea.output {
  resize: none;
  width: 100%;
  height: 200px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 50px;
  margin-bottom: 10px;
  outline: 1px solid #666;
}

.sub {
  width: 100%;
  color: #000;
  text-align: left;
  padding-left: 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.sub.sub-active:not(:empty) {
  color: #ffffff;
  font-size: 23px;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
  color: #000;
  font-size: 16px;
  text-align: center;
  padding-right: 10px;
  width: 50%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

.material-icons {
  line-height: initial;
}

.use-keyboard-input {
  position: absolute;
  top: 130px;
  right: 30px;
  width: 300px;
}
