@import "_variables";

//<Null styles>===========================================================================================================
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html {
  font-size: #{$fontSize + px};
}
html,
body {
  height: 100%;
  min-width: $minWidth + px;
}
body {
  line-height: 1;
  font-family: $fontFamily;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: $fontFamily;
  font-size: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
//</Null styles>==========================================================================================================

.keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background: #004134;
  box-shadow: 0 0 50px rgba(0, 0, 0, .5);
  user-select: none;
  transition: bottom 0.5s ease 0s;

  &--hidden {
    bottom: -100%;
  }

  // .keyboard__keys
  &__keys {
    text-align: center;

  }

  // .keyboard__key
  &__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, .2);
    color: #ffffff;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;

    &:active {
      background: rgba(255, 255, 255, .12);
    }

    // .keyboard__key--wide
    &--wide {
      width: 12%;
    }

    // keyboard__key--extra-wide
    &--extra-wide {
      width: 36%;
      max-width: 500px;
    }

    // keyboard__key--activatable
    &--activatable::after {
      content: '';
      position: absolute;
      top: 10px;
      right: 10px;
      width: 8px;
      height: 8px;
      background: rgba(0, 0, 0, .5);
      border-radius: 50%;
    }

    // keyboard__key--active
    &--active::after {
      background: #08ff00;
    }

    // keyboard__key--dark
    &--dark {
      background: rgba(0, 0, 0, .25);
    }
  }
}

.use-keyboard-input {
  position: absolute;
  top: 130px;
  right: 30px;
  width: 300px;
}
